{% extends 'base.html.twig' %}

{% block title %}Inventario{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% for producto in productos %}
        <table>
            <caption>Inventario</caption>
            <thead>
                <tr>
                    <td>Código</td>
                    <td>Producto</td>
                    <td>Descripción</td>
                    <td>Stock</td>
                    <td>Activo</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ producto.codigo }}</th>
                    <th>{{ producto.nombre }}</th>
                    <th>{{ producto.descripcion }}</th>
                    <th>{{ producto.stock }}</th>
                    <th>{{ producto.activo }}</th>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>Sin Inventario</p>
    {% endfor %}
{% endblock %}

